<% include ./partials/header %>
  <section class="hero is-primary is-medium">
    <div class="hero-body intro-text">
      <div class="container">
        <div class="columns is-centered">
            <div class="column is-half has-text-centered">
                <h1 class="title">13 random facts about me!</h1>
            </div>
        </div>
      </div>
    </div>
  </section>
<% include ./partials/footer %>
