  <% include ./partials/header %>
    <div class="container">
        <div class="row">
            <div class="five columns">
              <div class="content">
                <p class="title highlight">A little bit about myself.</p>
                <div class="circular-image">
                  <img src="/resources/eugene.jpg">
                </div>
              </div>
            </div>  
            <div class="seven columns">
              <div class="content sub-3-title">
                <p>
                  I am passionate about serving others and being able to make a difference in other people’s lives combining technology and interpersonal relationships. I believe that through technology, we can empower people to create new and amazing things.
                </p>
                <p>
                  My primary interests are in creating tools for education. I want to be able to create tools that empower students to be able to reach their highest potential. This is something that is very near and dear to me as I have had the blessing of having very influential teachers and role models as I grew from a youth to an adult
                </p>
                <p>
                  I’m currently a junior at the University of Washington pursuing a double degree in Computer Science and Social Work. Outside of school, I enjoy playing music, taking pictures, and am always down for a game of pickup basketball.
                </p>
                <p>
                  Lets get in touch!
                  <br>
                  Email: eo28@cs.washington.edu
                </p>
              </div>
            </div>
        </div>
    </div>
  <% include ./partials/footer %>

