<% include ./partials/header %>
  <section id="about" class="background hero is-medium">
    <div class="hero-body intro-text">
      <div class="container">
        <div class="columns is-centered">
            <div class="column is-half has-text-centered">
                <h1 class="title">A little bit about me.</h1>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container project-desc">
        <div class="content has-text-centered">
          <div class="text">
              <h1 class="title">Hello again!</h1>

              <p>
                I am passionate about serving others and being able to make a difference
                in other people’s lives combining technology and interpersonal relationships.
                I believe that through technology, we can empower people to create new and amazing things.
              </p>
              <p>
                My primary interests are in creating tools for education. I want to be able
                to create tools that empower students to be able to reach their highest potential.
                This is something that is very near and dear to me as I have had the blessing of having
                very influential teachers and role models as I grew from a youth to an adult
              </p>
              <p>
                I’m currently a junior at the University of Washington pursuing a double degree in
                Computer Science and Social Work. Outside of school, I enjoy playing music, taking pictures,
                and am always down for a game of pickup basketball.
              </p>
          </div>
        </div>
    </div>
  </section>
<% include ./partials/footer %>
