<% include ./partials/header %>
	<section id="blog" class="background hero is-medium">
      <div class="hero-body" id="blog-hero">
        <div class="container">
          <div class="columns is-centered">
              <div class="column is-half has-text-centered">
                  <h1 class="title">The ramblings of a 21 year old...</h1>
              		<p class="blog-subtitle">Thanks for visiting the blog section of the website! This is something that is somewhat new to me and thus I am not quite sure
								    where I will go this. I have no idea who will ever visit this or read these blog posts (besides maybe recruiters lol) but if you do decide to read,
								    hopefully my scrambled thoughts are of somewhat interest to you. Have a nice day! :)
								  </p>
			        </div>
          </div>
        </div>
      </div>
    </section>
    <section class= "container">
			
    	<div class="container">

    		<div class="card">
    			<div class="card-content">
    				<div class="media-content">
    						<p class="title is-4" id="blog-title">Blog Test 1</p>
    						<p class="subtitle is-6">Date</p>
    				</div>
    				<div class="content">
    					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      				Phasellus nec iaculis mauris. <a>@bulmaio</a>.
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

<% include ./partials/footer %>
