<% include ./partials/header %>
<section id="homesplash"class="background hero is-fullheight">
  <div id= "home-text" class="intro-text title">
    <h1>Hi There! I'm Eugene.</h1>
      <p>I like making things and helping others.</p>
  </div>
  <div class="hero-foot">
    <div class="container hero-text has-text-centered">
      <span class="blink icon is-medium">
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
      </span>
    </div>
  </div>
</section>
<section class="section hidden">
  <div class="container">
    <div class="content has-text-centered">
      <div class="columns is-centered">
        <div class="column is-half-desktop">
          <h1 class="is-size-2">Hello!</h1>
          <p class="home-descrip">
            My name is Eugene and I'm a student at the University
            of Washington studying Social Work and Computer Science.
             I have a passion for making things and helping others.
          </p>
        </div>
      </div>
      <img id="hello" src="/resources/img/hello.svg">
    </div>
  </div>
</section>
<hr>
<section class="section hidden">
  <div class="container">
    <div class="content has-text-centered">
      <div class="columns is-centered">
        <div class="column is-half-desktop">
          <h1 class="is-size-2">My Passion</h1>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-half-desktop">
          <h1 class="is-size-4">Building Things.</h1>
          <p class="home-descrip">
            I'm developer that loves to learn and create things. My skillset
            is mostly in backend development but I'm always willing and
            excited to learn new things! Come take a look at my work!
          </p>
          <a class="button is-outlined" href="#">Technical Projects</a>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-half-desktop">
          <h1 class="is-size-4">Helping Others.</h1>
          <p class="home-descrip">
            I love getting involved with my community and helping others. I wish
            to combine my technical skills with my passion for helping others to
            empower and equip underpriviledged students for success. Interested? Take
            a look at some of the service projects I'm involved in!
          </p>
          <a class="button is-outlined" href="#">Service Projects</a>
        </div>
      </div>
      <img id="rocket" src="/resources/img/rocket.svg">
    </div>
  </div>
</section>
<hr>
<section class="section hidden">
  <div class="container">
    <div class="content has-text-centered">
      <div class="columns is-centered">
        <div class="column is-half-desktop">
          <h1 class="is-size-2">Lets Connect!</h1>
            <p class="home-descrip">
              I'm currently looking for internship opportunities and
              am available for freelance work. If you have a project
              you want to start or want to connect, lets get in touch.
            </p>
          <a class="button is-outlined" href="mailto:eo28@cs.washington.edu">Message Me</a>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="js/home.js" type="text/javascript"></script>
<% include ./partials/footer %>
