<% include ./partials/header %>
<section class="hero is-primary is-large">
  <div class="hero-body">
    <div id="hero-text" class="container has-text-centered">
      <h1 class="title is-size-1">Hi There! I'm Eugene.</h1>
        <h1 class="is-size-2">I like making things and helping others.</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <div class="columns is-centered">
        <div class="column is-half">
          <h1 class="is-size-2">Hi!</h1>
          <p>
            I'm a student at the University of Washington studying <br>
            Social Work and Computer Science. I have a passion for <br>
            making things and helping others.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <div class="columns is-centered">
        <div class="column is-half">
          <h1 class="is-size-2">My passions</h1>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-half">
          <h1 class="is-size-4">Building Things.</h1>
          <p>
            I'm developer that loves to learn and create things. My skillset
            is mostly in backend development but I'm always willing and
            excited to learn new things! Come take a look at my work!
          </p>
          <a class="button is-outlined" href="#">My Work</a>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-half">
          <h1 class="is-size-4">Helping Others.</h1>
          <p>
            I love getting involved with my community and helping others. I wish
            to combine my technical skills with my passion for helping others to
            empower and equip underpriviledged students for success. Interested? Take
            a look at some of the service projects I'm involved in!
          </p>
          <a class="button is-outlined" href="#">Service Projects</a>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
<section class="section">

</section>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <a class="icon is-medium" href="https://github.com/eugeneoh28">
          <i class="fa fa-github-alt"></i>
        </a>
      </p>
      <p>Copyright Eugene Oh. All rights Reserved</p>
    </div>
  </div>
</footer>
<% include ./partials/footer %>
