  <% include ./partials/header %>
    <div class="container">
        <div class="row">
            <div class="seven columns">
              <p>Image</p>
            </div>  
            <div class="five columns">
              <div class="content">
                <p class="title">
                  <span class="active">Hi!</span> I'm Eugene. <br>
                  I like to build things. <br>
                  Lets connect.
                </p>
              </div>
            </div>
        </div>
    </div>
  <% include ./partials/footer %>

