<% include ./partials/header %>
<section class="hero is-primary is-large">
  <div class="hero-body">
    <div id="hero-text" class="container has-text-centered">
      <h1 class="title is-size-2">Hi There! <br/> I'm Eugene.</h1>
        <h1 class="is-size-4">a dev.</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <div class="columns is-centered">
        <div class="column is-half">
          <h1>Hi.</h1>
          <p>
            I'm a student at the University of Washington studying<br/>
            Social Work and Computer Science. I have a passion for making <br/>
            things and helping others.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <div class="columns is-centered">
        <div class="column is-half">
          <h1>Hi.</h1>
          <p>
            I'm a student at the University of Washington studying<br/>
            Social Work and Computer Science. I have a passion for making <br/>
            things and helping others.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <a class="icon is-medium" href="https://github.com/eugeneoh28">
          <i class="fa fa-github-alt"></i>
        </a>
      </p>
      <p>Copyright Eugene Oh. All rights Reserved</p>
    </div>
  </div>
</footer>
<% include ./partials/footer %>
