<% include ./partials/header %>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
              <div class="column is-half has-text-centered">
                  <h1 class="hero-text is-size-2">My Work.</h1>
              </div>
          </div>
        </div>
      </div>
    </section>
    <div class="tabs is-centered is-medium is-fullwidth">
      <ul class="tab-links">
        <li class="is-active"><a href="#tabtechnical">Technical Projects</a></li>
        <li><a href="#tabservice">Service Projects</a></li>
      </ul>
    </div>

    <div class="container tab-content hidden">
      <div id="tabtechnical" class="tab active">
        <div class="project-container">
          <div class="project-item">
            <h1>Twitter Searcher</h1>
          </div>
          <div class="project-item">
            <h1>Park Reviews</h1>
          </div>
          <div class="project-item">
            <h1>Chess Bot</h1>
          </div>
          <div class="project-item">
            <h1></h1>
          </div>
        </div>
      </div>
      <div id="tabservice" class="tab">
        <div class="project-container">
          <div class="project-item">
            <h1>Twitter</h1>
          </div>
          <div class="project-item">
            <h1>Park Reviews</h1>
          </div>
          <div class="project-item">
            <h1>Chess Bot</h1>
          </div>
          <div class="project-item">
            <h1></h1>
          </div>
        </div>
      </div>
    </div>
<script src="js/work.js" type="text/javascript"></script>
<% include ./partials/footer %>
