body {
	font-family: 'Waiting for the Sunrise', cursive;
	height:100%;
	position: relative;
}

hr {
	margin:0;
}

::-webkit-scrollbar {
    width: 0.3em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 2px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;

}

.fade {
	display:none;
}

.main-container {
 min-height: 87vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 10rem; /* height of your footer */
}

.navbar {
	margin:0rem 3rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 2.8rem;
}

.navbar-brand {
    float: left;
}

.navbar-brand a {
    color:#fccfd5;
}

.navbar-links a {
	color:black;
}

.under-line {
	text-decoration: underline;
}

.navbar-item{
	display: inline-block;
    text-align: center;
    padding: 1.4rem 1.2rem;
    text-decoration: none;
}

.navbar a:hover {
    color: grey;
}

@media (min-width: 321px) {
	.navbar-links {
		float:right;
	}
	.navbar-item {
		padding:1.4rem 1.6rem;
	}
}

@media (max-width: 768px) {
	.navbar {
		font-size: 1.5rem;
	}
}

.footer {
	position:absolute;
	bottom:0;
	margin:2rem 0;
	text-align: center;
	width:100%;
	font-size: 3rem;
}

.footer a {
	color:black;
	text-decoration: none;
}

.footer a:hover {
	color:grey;
}

.content {
	color:grey;
	margin-top:9rem;
	padding-left:1rem;
}

.media-content {
	color:grey;
	margin-top:9rem;
	padding-left:1rem;
	padding-right: 1rem;
}

@media (max-width: 425px) {
	.content {
		margin: 6rem 1rem;
		padding-left: 0;
	}
	.content p {
		text-align: center;
	}
}

.title {
	font-size:6rem;
	margin-bottom: 0;
}

@media (max-width: 768px) {
	.title {
		font-size: 3.25rem;
	}
}

.sub-1-title {
	font-size:3rem;
	margin-bottom: 1rem;
}
@media (max-width: 768px) {
	.sub-1-title {
		font-size: 2rem;
	}
}

.sub-2-title{
	font-size: 2.5rem;
}

.sub-2-title a {
	color:grey;
	text-decoration: none;
}
.sub-2-title a:hover {
	color:#fccfd5;
}

.sub-3-title{
	font-size: 1.9rem;
	text-decoration: none;
	color:grey;
}

.box {
	margin-top:9rem;
	margin-left:11rem;

	height:70%;
	width:80%;
}

@media (max-width: 425px) {
	.box {
		margin:auto;
	}
}

.tabs {
	display:flex;
	list-style-type: none;
	margin:0;
	font-size:3rem;
	align-content: center;
	color:grey;
}
@media (max-width:768px) {
	.tabs {
		font-size:2rem;
	}
}

.tabs li {
	display:inline;
	padding: 0 3rem;
	width:70%;
	flex:1;
	border-bottom: 0.1rem solid grey;
}

.tabs li:hover {
	color:black;
}

.active {
	color: #fccfd5;
}

.projects {
	margin:0 0.6rem;
	height:29vw;
	align-content: center;
	overflow:auto;
}

.project-section {
	display:none;
}

#technical {
	display:block;
}

.project-text {color:grey;}
.project-text a:hover{color:black;}
.project-text a {
	color:grey;
	text-decoration: none;
}
.project-title {
	font-size:2.25rem;
	margin:0;
}

.project-desc {
	font-size:1.7rem;
}

@media (max-width: 768px) {
	.project-title {
		font-size: 1.8rem;
	}
	.project-desc {
		font-size: 1.2rem;
	}
}

.image_wrap:hover .image_desc {
  visibility: visible;
  opacity: 1;
}

.image_desc {
	text-align: center;
	visibility: hidden;
	opacity:0;
	transition: opacity .2s, visibility .2s;
}

.circular-image {
  position: relative;
  width: 28rem;
  height: 28rem;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin:auto;
}

.circular-image img {
  width: auto;
  height: 100%;
  margin-left:-22px;
}

#homeimg {
  margin: auto;
  display: block;
  width:60%;
}

#workimg {
	width:70%;
	margin-right: 30%;
}

@media (max-width: 425px) {
	#workimg {
		margin:auto;
		display: block;
	}
}

@media (min-width: 426px) {
	#workimg {
		float:left;
	}
}
#homeimgdiv {
	margin-top:7rem;
}