body {
	font-family: 'Waiting for the Sunrise', cursive;
	height:100%;
	position: relative;
}

hr {
	margin:0;
}

.main-container {
 min-height: 87vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}

.navbar {
	margin:0rem 3rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 25px;
}

.navbar-brand {
    float: left;
}

.navbar-brand a {
    color:#fccfd5;
}

.navbar-links {
	float:right;
}

.navbar-links a {
	color:black;
}

.under-line {
	text-decoration: underline;
}

.navbar-item{
	display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    color: grey;
}

.footer {
	position:absolute;
	bottom:0;
	margin:3rem 0;
	text-align: center;
	width:100%;
	font-size: 30px;
}

.footer i:hover {
	color:grey;
}

.content {
	color:grey;
	margin-top:12rem;
	padding-left:2rem;
}

.title {
	font-size:50px;
	margin-bottom: 0;
}

.sub-1-title {
	font-size:30px;
	margin-bottom: 10px;
}

.sub-2-title{
	font-size: 25px;
}

.sub-2-title a {
	color:grey;
	text-decoration: none;
}
.sub-2-title a:hover {
	color:#fccfd5;
}

.sub-3-title{
	font-size: 19px;
	text-decoration: none;
	color:grey;
}

.box {
	margin:12rem 10rem;
	height:60%;
	width:80%;
}

.tabs {
	display:flex;
	list-style-type: none;
	margin:0;
	font-size:30px;
	align-content: center;
	color:grey;
}

.tabs li {
	display:inline;
	padding: 0 3rem;
	width:70%;
	flex:1;
	border-bottom: 1px solid grey;
}

.tabs li:hover {
	color:black;
}

.active {
	color: #fccfd5;
}

.projects {
	margin:0 0.5rem;
	height:30rem;
	align-content: center;
	overflow:auto;
}

.project-section {
	display:none;
}

.project-text {color:grey;}
.project-text a:hover{color:black;}
.project-text a {
	color:grey;
	text-decoration: none;
}
.project-title {
	font-size:22.5px;
	margin:0;
}

.project-desc {
	font-size:17.5px;
}

.circular-image {
  position: relative;
  width: 28rem;
  height: 28rem;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin:auto;
}

.circular-image img {
  width: auto;
  height: 100%;
  margin-left:-22px;
}