<% include ./partials/header %>
    <section id="work" class="background hero is-medium">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
              <div class="column is-half has-text-centered">
                  <h1 class="title">My Work.</h1>
              </div>
          </div>
        </div>
      </div>
    </section>
    <div class="tabs is-centered is-fullwidth">
      <ul class="tab-links">
        <li id="titletechnical" ><a href="#technical">Technical Projects</a></li>
        <li id="titleservice"><a href="#service">Service Projects</a></li>
      </ul>
    </div>

    <div class="container tab-content hidden">
      <div id="technical" class="tab">
        <div class="project-container">
          <a class="project-item p4" href="/v1/work/sheltermap">
            <div class="project-background" id="shelter">
              <h1 class="project-text">Shelter Map</h1>
            </div>
          </a>
          <a class="project-item p2" href="/v1/work/personalwebsite">
            <div class="project-background" id="website">
              <h1 class="project-text">Personal Website</h1>
            </div>
          </a>
          <a class="project-item p1" href="/v1/work/twittersearcher">
            <div class="project-background" id="twitter">
              <h1 class="project-text">Twitter Searcher</h1>
            </div>
          </a>
          <a class="project-item p3" href="/v1/work/parkreviews">
            <div class="project-background" id="park">
              <h1 class="project-text">Park Reviews Website</h1>
            </div>
          </a>
          <a class="project-item p5" href="/v1/work/chessbot">
            <div class="project-background" id="chess">
              <h1 class="project-text">Chess Bot</h1>
            </div>
          </a>
          <%# <a class="project-item p5" href="/work/cameradict">
            <div class="project-background">
              <h1 class="project-text">Camera Dictionary</h1>
            </div>
          </a>%>
        </div>
      </div>
      <div id="service" class="tab">
        <div class="project-container">
          <a class=" p2 project-item" href="/v1/work/dreamproject">
            <div class="project-background" id="dp">
              <h1 class="project-text">Dream Project</h1>
            </div>
          </a>
          <a class=" p5 project-item" href="/v1/work/phra">
            <div class="project-background" id="phra">
              <h1 class="project-text">People's Harm Care Alliance</h1>
            </div>
          </a>
          <a class=" p3 project-item" href="/v1/work/hope">
            <div class="project-background" id="hope">
              <h1 class="project-text">Huskies for Opportunities in Prison Education</h1>
            </div>
          </a>
          <a class=" p1 project-item" href="/v1/work/americorps">
            <div class="project-background" id="americorps">
              <h1 class="project-text">AmeriCorps</h1>
            </div>
          </a>
        </div>
      </div>
    </div>
<script src="/v1/js/work.js" type="text/javascript"></script>
<% include ./partials/footer %>
