<% include ../partials/header %>
<script>document.body.className += ' fade-out';</script>
<section class=" background hero project-details">
  <div class="hero-body project-hero">
    <div class="container has-text-centered">
      <h1 class="title">
        Twitter Searcher
      </h1>
    </div>
  </div>
</section>
<section class="section project-sec">
  <div class="container project-desc">
      <div class="content">
        <div class="project-image-container">
          <div class="project-image">
            <img src="/v1/resources/img/website.svg">
          </div>
        </div>
        <div class="text">
            <h1 class="title">Overview</h1>
            <p><strong>Timeline:</strong> August 2017 - Present</p>
            <p><strong>Project Type:</strong> Personal Project</p>
            <p><strong>Github Link:</strong><a href="https://github.com/eugeneoh28/Personal-Website"> Personal Website</a></p>
            <p><strong>Skills:</strong></p>
            <p>Front-end Design, Web Development</p>
            <p><strong>Technologies Used:</strong></p>
            <p>Html, Css, Bulma, Jquery, Node.js, Express</p>
            <h1 class="Title">Background</h1>
            <p>
              In the summer of 2017, I thought it was time that I put in some
              time in order to develop my personal portfolio as well as my web
              development skills. As this was my first website that I had ever
              created on my own, I found many challenges in creating this website.
              <br>
            </p>
            <p>
              This iteration of my website took me about 2 weeks to put together
              I would call this website a work in progress as I am continually changing
              things and adding things when I create new projects, but all in all I am
              pretty proud of what I have been able to accomplish.
            </p>
            <h1 class="Title">Challenges</h1>
            <p>
              This was the first time that I had put together a website without any guidance.
              I had to teach myself a new framework (bulma) and also heavily customize it so that
              it would cater to my needs. In addition, I had much difficulty in designing much of the
              backgrounds as I had no experience with working with svg files but I was able to teach myself
              how to use inkscape to get around this. The primary dificult came in settling on a design
              that I liked as there were multiple designs that I had looked at before I decided to go with
              the one I had used.
            </p>
        </div>
      </div>
  </div>
</section>
<script src="/v1/js/project.js" type="text/javascript"></script>
<% include ../partials/footer %>
