<% include ../partials/header %>
<script>document.body.className += ' fade-out';</script>
<section class=" background hero project-details">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        AmeriCorps
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container project-desc">
      <div class="content">
        <div class="project-image-container">
          <div class="project-image">
            <img src="/resources/img/americorps.png">
          </div>
        </div>
        <div class="text">
            <h1 class="title">Overview</h1>
            <p><strong>Timeline:</strong> June 2015-August 2015</p>
            <p><strong>Website:</strong><a href="https://www.uwkc.org/early-learning/the-a-team-helps-end-summer-hunger/">PHRA</a></p>
            <p><strong>Positions Held:</strong>End Summer Hunger Campaign Corps</p>

            <h1 class="Title">Background</h1>
            <p>
              During the summer, 100,000 King County kids and families lose access to reliable the school meals are provided over the school year.
              The good news is that there is a federal program that provides free meals to kids and teens living
              in high poverty areas – all summer long. The bad news is that only 10-14% of area children access free summer meals.
            </p>
            <p>
              This gap is the result of various barriers experienced only during the summer, including a lack of access to meal sites,
              insufficient program awareness, and limited resources when schools are closed.
            </p>
            <h1 class="Title">My Role</h1>
            <p>
              I served as a member of the End Summer Hunger Campaign Corps as a part of the AmeriCorps team during the summer of 2015.
              in this position I executed multiple roles including:
              <ul>
                <li>Acting as a Site Supervisor at multiple meal sites to distribute meals to low income children.</li>
                <li>Hosting and working multiple outreach events to spread the word about the program.</li>
              </ul>
            </p>
            <h1 class="Title">Future Goals</h1>
            <p>
              Although my AmeriCorps Term has ended, I wish to be able to serve again in the future and through this opportunity I have been
              able to learn more about other opportunities such as Dream Project and Huskies for Opportunities in Prison Education.
            </p>
        </div>
      </div>
  </div>
</section>
<script src="/js/project.js" type="text/javascript"></script>
<% include ../partials/footer %>
