<% include ../partials/header %>
<script>document.body.className += ' fade-out';</script>
<section class=" background hero project-details">
  <div class="hero-body project-hero">
    <div class="container has-text-centered">
      <h1 class="title">
        Twitter Searcher
      </h1>
    </div>
  </div>
</section>
<section class="section project-sec">
  <div class="container project-desc">
      <div class="content">
        <div class="project-image-container">
          <div class="project-image">
            <img src="/resources/img/chess.svg">
          </div>
        </div>
        <div class="text">
            <h1 class="title">Overview</h1>
            <p><strong>Timeline:</strong> December 2016</p>
            <p><strong>Project Type:</strong>School Project</p>
            <p><strong>Skills:</strong></p>
            <p>Backend Development</p>
            <p><strong>Technologies Used:</strong></p>
            <p>Java</p>
            <h1 class="Title">Background</h1>
            <p>
              This project was a part of my work in my data structures class at the University of Washington.
               It was a partner project in order to design a bot that one would be able to play chess with.
              We implemented a alpha-beta pruning graph searching algorithm in parallel in order to be able
              to search seven plies deep.
              <br>
            </p>
            <h1 class="Title">Challenges</h1>
            <p>
              The primary challenges were to be able to write the algorithm and debug it correctly.
              Because this was a complex algorithm to write, I had to make sure to always double check
              my work along the way. In addition to this, debugging where something went wrong was very
              difficult as there were so many different moving pieces in this project.
            </p>
            <h1 class="Title">What I learned</h1>
            <p>
              I learned through this process how to work together with a partner in order to code a project
              together effectively. We worked as a programming pair in order to write this program and debugging
              it together made this much easier than trying to figure things out by myself. All in all, it was a
              very helpful experience in growing my skills as a team player in programming.
            </p>
        </div>
      </div>
  </div>
</section>
<script src="/js/project.js" type="text/javascript"></script>
<% include ../partials/footer %>
