<% include ../partials/header %>
<script>document.body.className += ' fade-out';</script>
<section class=" background hero project-details">
  <div class="hero-body project-hero">
    <div class="container has-text-centered">
      <h1 class="title">
        Dream Project
      </h1>
    </div>
  </div>
</section>
<section class="section project-sec">
  <div class="container project-desc">
      <div class="content">
        <div class="project-image-container">
          <div class="project-image">
            <img src="/resources/img/dplogo.png">
          </div>
        </div>
        <div class="text">
            <h1 class="title">Overview</h1>
            <p><strong>Timeline:</strong> September 2015-Present</p>
            <p><strong>Website:</strong><a href="https://www.washington.edu/dreamproject/">H.O.P.E</a></p>
            <p><strong>Positions Held:</strong> High School Lead for Kent Meridian High School</p>

            <h1 class="Title">Background</h1>
            <p>
              Dream Project acts as a mentorship program for college students to work with high school juniors and seniors in the roadmap
              region. We provide mentorship to provide support for post-high school pathways. Each week, college students travel down to
              high-schools in order to 13 high schools to provide mentorship. In addition to this, Dream Project hosts multiple events
              throughout the year at the University of Washington to provide additional support for college access and post-high school pathways
            </p>
            <br>
            <h1 class="Title">Our Mission</h1>
            <p>
              Due to historical and institutional racism, the U.S. education system does not support every student equally. Students
              of color and low-income students are less likely to receive the support and resources to prepare for their futures.
              Neither race nor socioeconomic status should predict any outcome. Through mentorship, we support students in navigating
              complex systems such as the workforce, financial aid, and college admissions. Our goal is to empower students with the
              tools and information to make and enact a plan for their futures.”
            </p>
            <h1 class="Title">My Role</h1>
            <p>
              I have served as a mentor in Dream Project since my freshman year and also served as a high school lead since the spring of my
              freshman year. As a high school lead, I create curriculum for mentors and also lead mentors to Kent Meridian high school every
              week. In addition to this, I help maintain the relationship between Kent Meridian and Dream Project, acting as a liason between
              the two groups in order to ensure that a healthy and stable relationship is maintained.
            </p>
            <h1 class="Title">Future Goals</h1>
            <p>
              I am currently serving as a high school lead for one more year and I hope to be able to transition to other roles within Dream
              Project in the coming year. This includes outreach to 9/10th grade students as well as getting involved with the steering
              committee at Dream Project if possible.
            </p>
        </div>
      </div>
  </div>
</section>
<script src="/js/project.js" type="text/javascript"></script>
<% include ../partials/footer %>
