<% include ../partials/header %>
<script>document.body.className += ' fade-out';</script>
<section class=" background hero project-details">
  <div class="hero-body project-hero">
    <div class="container has-text-centered">
      <h1 class="title">
        Huskies for Opportunities in Prison Education
      </h1>
    </div>
  </div>
</section>
<section class="section project-sec">
  <div class="container project-desc">
      <div class="content">
        <div class="project-image-container">
          <div class="project-image">
            <img src="/resources/img/hope.png">
          </div>
        </div>
        <div class="text">
            <h1 class="title">Overview</h1>
            <p><strong>Timeline:</strong> December 2015-Present</p>
            <p><strong>Website:</strong><a href="http://hopeuw.weebly.com"> H.O.P.E</a></p>
            <p><strong>Positions Held:</strong> Fundraising Coordinator</p>

            <h1 class="Title">Background</h1>
            <p>
              Huskies for Opportunities in Prison education is a group of UW students devoted to creating and improving
              post-secondary education programs inside of prisons and making these rare opportunities more accessible to prisoners.
              Our organization supports the education of prisoners as a measure that is underutilized in our country’s hyper-punitive
              incarceration system, which remains focused on retribution and deterrence rather than rehabilitation. We advocate for
              education behind bars as a humane and effective opportunity for prisoners who will be leaving prison with social, legal,
              and economic handicaps to successfully reintegrate back into society after incarceration. We hope that increased prison
              education will be one of the first steps toward making a more humane and rehabilitative criminal justice system a reality
              in our country.
            </p>
            <br>
            <h1 class="Title">My Role</h1>
            <p>
              I came accross Huskies for Opportunities in Prison Education during my freshman year during one of the outreach events they were
              holding. Because I was very interested in education, this issue became very near and dear to me. Through H.O.P.E. I have been able
              to spread awareness about this issue as well as raise money for currently incarcerated students to take correspondence college
              courses.
            </p>
            <h1 class="Title">Future Goals</h1>
            <p>
              I hope that we can continue to spread awareness about this issue and that the current administration does not hinder the work
              and progress that has been made thus far in improving educational opportunities for incarcerated students to decrease the rate of
              recidivism. This will come in the form of raising more money for scholarships as well as doing outreach on the UW campus to
              raise awareness for this important issue.
            </p>
        </div>
      </div>
  </div>
</section>
<script src="/js/project.js" type="text/javascript"></script>
<% include ../partials/footer %>
