<% include ../partials/header %>
<script>document.body.className += ' fade-out';</script>
<section class=" background hero project-details">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Twitter Searcher
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container project-desc">
      <div class="content">
        <div class="text">
            <h1 class="title">Overview</h1>
            <p><strong>Timeline:</strong> June 2017</p>
            <p><strong>Project Type:</strong> Personal Project</p>
            <p><strong>Github Link:</strong> <a href="https://github.com/eugeneoh28/Park-Review-Site">Park Reviews</a></p>
            <p><strong>Skills:</strong></p>
            <p>Front-end Design, Web Development</p>
            <p><strong>Technologies Used:</strong></p>
            <p>Html, Css, Bootstrap, Javascript, Node.js, Express, MongoDB</p>
            <h1 class="Title">Background</h1>
            <p>
              I made this website as a part of the udemy course that I went through over the summer in order to learn web development.
              It was a very helpful experience to learn Node.js, MongoDB, Javascript, HTML, and CSS.
              <br>
            </p>
            <h1 class="Title">Challenges</h1>
            <p>
              The primary challenges was to be able to get accustomed to the multiple new libraries and frameworks at once as I had to learn
              nodejs, express, passport, and ejs which made things a bit difficult to manage.
            </p>
            <h1 class="Title">What I learned</h1>
            <p>
              I became much more well versed in web-development and became familiar with modern web development technologies that paved to way
              to me being able to create my own personal website as well as create other projects as well.

            </p>
        </div>
      </div>
  </div>
</section>
<script src="/js/project.js" type="text/javascript"></script>
<% include ../partials/footer %>
