<% include ../partials/header %>
<script>document.body.className += ' fade-out';</script>
<section class=" background hero project-details">
  <div class="hero-body project-hero">
    <div class="container has-text-centered">
      <h1 class="title">
        People's Harm Care Reduction Alliance
      </h1>
    </div>
  </div>
</section>
<section class="section project-sec">
  <div class="container project-desc">
      <div class="content">
        <div class="project-image-container">
          <div class="project-image">
            <img src="/resources/img/phra.png">
          </div>
        </div>
        <div class="text">
            <h1 class="title">Overview</h1>
            <p><strong>Timeline:</strong> June 2017-Present</p>
            <p><strong>Website:</strong><a href="http://www.peoplesharmreductionalliance.org/">PHRA</a></p>
            <p><strong>Positions Held:</strong>University District Volunteer</p>

            <h1 class="Title">Background</h1>
            <p>
              People's harm reduction alliance serves to provide empathetic services to drug-users. We are a peer-run organization that
              promotes the philsophy of harm reduction and safer drug use. Active users at all levels of PRHA facilitate the need-based
              needle distribution program that serves the Cascadia region.
            </p>
            <h1 class="Title">My Role</h1>
            <p>
              I discovered this organization through a class project in my HCI class during spring quarter during my Sophomore year. I had never
              been involved in working with drug-use before so I wanted to get involved in this opportunity to learn more and also give back
              to this commmunity. I act as a volunteer every Wednesday at the University District needle site and help to distribute needles
              and collect dirty needles. In addition, we provide narcan as well as provide resources for meth and crack users.
            </p>
            <h1 class="Title">Future Goals</h1>
            <p>
              I look to continuing to serve in PHRA throughout my time at the University of Washington to continue to learn about this population
              and how I can better serve this community.
            </p>
        </div>
      </div>
  </div>
</section>
<script src="/js/project.js" type="text/javascript"></script>
<% include ../partials/footer %>
