<% include ../partials/header %>
<script>document.body.className += ' fade-out';</script>
<section class=" background hero project-details">
  <div class="hero-body project-hero">
    <div class="container has-text-centered">
      <h1 class="title">
        Twitter Searcher
      </h1>
    </div>
  </div>
</section>
<section class="section project-sec">
  <div class="container project-desc">
      <div class="content">
        <div class="project-image-container">
          <div class="project-image">
            <img src="/resources/img/map.svg">
          </div>
        </div>
        <div class="text">
            <h1 class="title">Overview</h1>
            <p><strong>Timeline:</strong> October 2017</p>
            <p><strong>Project Type:</strong> Hackathon Project</p>
            <p><strong>Github Link:</strong><a href="https://github.com/eugeneoh28/Shelter-Map"> Shelter-Map</a>
            </p>
            <p><strong>Skills:</strong></p>
            <p>Web Development, Team Development, Rapid ideation</p>
            <p><strong>Technologies Used:</strong></p>
            <p>Python, Html, Css, Bootstrap, Jquery, Node.js, Express, MongoDB</p>
            <h1 class="Title">Background</h1>
            <p>
              This project was my hackathon project for dubhacks 2017. I worked in a team with 5 people that I met at the
              hackathon. Our project was a live map for homeless shelters in Seattle to communicate with each other how
              many beds they have left each night at each shelter. We decided to work on this issue after discovering 
              that many shelters do not communicate with each other this information which makes it difficult for people
              experiencing homelessness to find an open shelter to go to as they have to call each shelter to find out their
              capacity.
              <br>
            </p>
            <h1 class="Title">Challenges</h1>
            <p>
              The main challenge was that there was such a time crunch when working on this project. As we only had about 20 hours
              to create our product, it was very difficult to figure out an idea, a plan, and a deliverable product in a extremely 
              short span of time. The main challenge was decidng upon a project idea that everyone was on board with. Everyone had
              a different perspective to bring to the table and we wanted to incorporate everybody's ideas and thus it took a fair
              bit of time in order to finalize an idea we wanted to create. In addition to this, it was difficult to distribute the 
              work in a effective manner that would optimize our efficiency. Everybody in my team had a different skillset and worked
              in a different web stack and thus it was difficult to split up the work so that everyone would be able to work on it equally.
            </p>
            <h1 class="Title">What I learned</h1>
            <p>
              Despite the many challenges, I still learned a ton through this project. This was my first hackathon so I was pretty
              scared when coming into the project but I quickly made really great relationships with my team members and we were able
              to decide upon an idea that everyone was on board with after going through an extensive ideation process. I was personally
              able to improve upon my web development skills and also practice ideation again. It was amazing
              to be able to work with people in different fields of study besides computer science (I worked with many students in HCI).
              Furthermore, it was very rewarding to be able to finish a project in a short amount of time. The project didn't quite end up as 
              polished as we wanted it too, but we were still proud of the fact that we were able to finish our idea. All in all, this project
              taught me a ton about rapid development and I had a blast being part of a diverse team.
            </p>
        </div>
      </div>
  </div>
</section>
<script src="/js/project.js" type="text/javascript"></script>
<% include ../partials/footer %>
