<% include ../partials/header %>
<script>document.body.className += ' fade-out';</script>
<section class=" background hero is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Twitter Searcher
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
      <div class="content">
        <div class="text">
            <h1 class="title">Overview</h1>
            <p><strong>Timeline:</strong> August 2017 - Present</p>
            <p><strong>Project Type:</strong> Personal Project</p>
            <p><strong>Github Link:</strong> <a href="https://github.com/eugeneoh28/Personal-Website">Personal Website</a></p>
            <p><strong>Skills:</strong></p>
            <p>Front-end Design, Web Development</p>
            <p><strong>Technologies Used:</strong></p>
            <p>Html, Css, Bulma, Jquery, Node.js, Express</p>
            <h1 class="Title">Background</h1>
            <p>
              In the summer of 2017, I thought it was time that I put in some
              time in order to develop my personal portfolio as well as my web
              development skills. As this was my first website that I had ever
              created on my own, I found many challenges in creating this website.
              <br>
            </p>
            <p>
              This iteration of my website took me about 2 weeks to put together
              I would call this website a work in progress as I am continually changing
              things and adding things when I create new projects, but all in all I am
              pretty proud of what I have been able to accomplish.
            </p>
            <h1 class="Title">Challenges</h1>
            <p>
              This was the first time that I had
            </p>
        </div>
      </div>
  </div>
</section>
<script src="/js/project.js" type="text/javascript"></script>
<% include ../partials/footer %>
